.git
.env
.venv
.vscode
**/__pycache__
**/*.py[cod]
**/*.parquet
**/*.sqlite*
**/*.log
**/staticfiles
data
catboost_info
download_dataset/data
download_dataset/new_dataset/new_data
education/catboost_info
logics
on_demand_parsing/data
test_dataset
website/data
