.git
.env
.venv
.vscode
education
education2
download_dataset
**/__pycache__
**/*.py[cod]
**/*.ipynb
**/*.md
**/*.MD
**/*.parquet
**/*.sqlite*
**/*.log
**/staticfiles
data
catboost_info
download_dataset/data
download_dataset/new_dataset/new_data
education/catboost_info
logics
on_demand_parsing/data
test_dataset
website/data
on_demand_parsing/test_*.py
website/trends/tests.py
