.env
.venv/
__pycache__/
website/staticfiles/

data/
download_dataset/data/
*.parquet
*.parquet.tmp
*.feather
*.arrow
*.sqlite
*.sqlite-shm
*.sqlite-wal
*.db
*.db-shm
*.db-wal

*.log
*.logdata.zip
on_demand_parsing/data
*.zip

*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
education/catboost_info
logics/
test_dataset/

education2/
!education2/
education2/*
!education2/README.md
